sudo: false
language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3
install:
  - pip install flake8
  - pip install --upgrade pytest # needed for cases where there is already an old pytest installed
script:
  - flake8 $(git ls-files mechanicalsoup/'*.py') example.py
  - python setup.py test
after_success:
  - bash <(curl -s https://codecov.io/bash) || echo 'Codecov failed to upload'
