sudo: false
language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3
install:
  - pip install --upgrade pytest # needed for cases where there is already an old pytest installed
  - pip install pytest-cov       # needed for the codecov uploader
script:
  - python setup.py test
after_success:
  - bash <(curl -s https://codecov.io/bash) || echo 'Codecov failed to upload'

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d591e73173ccf74fe8ba
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
